
<%-include("partials/header");-%>
    <h1 class="abt-head">Want Know more about Me??</h1>
    <div class="middle-container">
      <div class="profile">
        <img class="myimg" src="myimg.jpeg" alt="">
        <h2 class="abt-h2">Hello.</h2>
        <p class="intro abt-intro">I'm a sophomore studying at IIT Kharagpur.I'm pursuing my B.Tech in Electronics & Electrical Communications.  </p>
      </div>
      <hr>
      <div class="skills">
        <h2 class="abt-h2">My Skills.</h2>
        <div class="skill-row">
          <img class="image1" src="https://image.flaticon.com/icons/svg/1995/1995515.svg" alt="">
          <h3 class="abt-h3">Programming...</h3>
          <p class="abt-para">I cannot turn coffee into code yet I call myself a Programmer. I have a passion for creating web pages and creativity is a drug I can't live without.Check out my competitive programming skills: </p>
          <a class="aspace" href="https://codeforces.com/profile/devanshrajgarhia">My codeforces handle</a>
          <a class="aspace" href="https://www.codechef.com/users/devansh639">My codechef handle</a>
        </div>
        <div class="skill-row">
          <img class="image2" src="https://image.flaticon.com/icons/png/512/3063/3063402.png" alt="">
          <h3 class="abt-h3">Cooking... </h3>
          <p class="abt-para">Breaking all the prejudice presenting the cook inside me. YES I can make you a cup of coffee along with some beans & toast. &#128526; </p>
        </div>
      </div>
      <hr>
      <div class="contact-me">
        <h2 class="abt-h2">Get In Touch</h2>
        <h3 class="abt-h3">Would like to check out my cooking skills?   <sup>T&C: At your own risk</sup></h3>
        <p class="abt-para">We can also code in the meantime....</p><br>

      </div>
    </div>

<%-include("partials/footer");-%>
